/* src/privacy-policy.css */

/* General Layout */
.privacy-policy-container {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
  }
  
  .privacy-policy-header {
    text-align: center;
    margin-bottom: 30px;
  }
  
  .privacy-policy-header h1 {
    font-size: 2rem;
    color: #333;
  }
  
  .privacy-policy-header p {
    font-size: 1rem;
    color: #666;
  }
  
  /* Sections */
  .privacy-policy-section {
    margin-bottom: 20px;
  }
  
  .privacy-policy-section h2 {
    font-size: 15px;
    color: #4a5568;
    margin-bottom: 16px;
  }
  
  .privacy-policy-section p {
    font-size: 15px;
    color: #4a5568;
    margin-bottom: 16px;
  }
  
  /* Links */
  .privacy-policy-link {
    font-size: 15px;
    color: #4a5568;
    margin-bottom: 16px;
  }
  
  .privacy-policy-link a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
  }
  
  .privacy-policy-link a:hover {
    text-decoration: underline;
  }
  
  /* Styling the consent checkbox and label */
./* Styling the consent checkbox and label on the landing page */
.consent-checkbox-container {
    display: flex;
    align-items: center;
    margin-top: 30px; /* Space it a bit lower */
    font-size: 1rem;
    color: #777; /* Softer color */
    text-align: center; /* Align text in the center */
}

.consent-checkbox-container input[type="checkbox"] {
    margin-right: 10px;
    width: 18px;
    height: 18px;
    accent-color: #007bff; /* Custom color for the checkbox */
}

.consent-checkbox-container label {
    font-size: 0.95rem; /* Slightly smaller font size */
    color: #777; /* Softer gray */
    line-height: 1.5;
}

.consent-checkbox-container a {
    color: #007bff;
    text-decoration: none;
    font-weight: 600;
}

.consent-checkbox-container a:hover {
    text-decoration: underline;
}
